@model List<Urun>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Ürünler";
}

<h1>Ürünler</h1>
<a href="@Url.Action("Create")" class="btn btn-primary mb-3">Yeni Ürün Ekle</a>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>İsim</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var urun in Model)
            {
                <tr>
                    <td>@urun.Id</td>
                    <td>@urun.Isim</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = urun.Id })" class="btn btn-warning btn-sm">Düzenle</a>
                        <a href="@Url.Action("UrunSıl", new { id = urun.Id })" class="btn btn-danger btn-sm">Sil</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center">Ürün bulunamadı.</td>
            </tr>
        }
    </tbody>
</table>
<p>
    @if (ViewData["Sure"] != null)
    {
        <text>Veri çekme süresi: @ViewData["Sure"] ms</text>
    }
    else
    {
        <text>Veri çekme süresi bulunamadı.</text>
    }
</p>
